@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(76, 142, 236);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.285);
}

DIV {
    text-align: center;
    padding: 8PX;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}